@using Blogging.ViewModels;

@model PostListViewModel

<h1 class="text-center">
    @Model.SelectedTopic
</h1>

<div class="col-md-3">
    @foreach (var post in Model.Posts)
    {
        <partial name="_PostCard" model="post"/>
    }
</div>