@using Blogging.ViewModels

@model PostListViewModel

<h1 class="text-center">
    @Model.SelectedTopic
</h1>

<div class="container">
    <ul class="list-group">
        <div class="d-flex flex-column">
            @foreach (var post in Model.Posts)
            {
                <div class="col">
                    <partial name="_PostCard" model="post" />
                </div>
            }
        </div>
    </ul>
</div>