<div id="welcomeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Welcome 1"></button>
        <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="1"
                aria-label="Welcome 2"></button>
        <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="2"
                aria-label="Welcome 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item welcome-carousel-image1 active">
            <div class="carousel-caption">
                <h1>Dobrodošli na Blogger!</h1>
                <p>Mesto gde delimo inspiraciju, znanje i priče koje vas motivišu. Pridružite nam se u istraživanju novih ideja i iskustava!</p>
            </div>
        </div>
        <div class="carousel-item welcome-carousel-image2">
            <div class="carousel-caption text-start">
                <h1>Odeljak budi fit-budi hit!</h1>
                <p>Nove ideje i načini za pripremu zdrave hrane</p>
                <p><a class="btn btn-lg btn-success" asp-controller="" asp-action="" role="button">Baci Pogled</a></p>
            </div>
        </div>
        <div class="carousel-item welcome-carousel-image3">
            <div class="carousel-caption text-end">
                <h1>Obavezne knjige za pročitati u novoj 2024oj godini</h1>
                <p>Otkrijte svet reči koji će vas inspirisati i obogatiti vaše čitalačko iskustvo.</p>
                <p><a class="btn btn-lg btn-warning" role="button">Istraži Više</a></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Prethodna</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Sledeća</span>
    </button>
</div>