@model Comment


<div class="card mt-3">
    <div class="card-body">
        <p class="text-muted">
            @{
                if (!string.IsNullOrEmpty(Model.User?.Username))
                {
                    @Model.User.Username
                }
                else
                {
                    @:Anonymous
                }
            }
        </p>
        <p>@Model.Body</p>
        <p class="text-muted">Posted on: @Model.TimeCreated.ToString("dd/MM/yyyy")</p>
        <form asp-controller="Comment" asp-action="RemoveComment" method="post">
            <input type="hidden" name="commentId" value="@Model.ID" />
            <button type="submit" class="btn btn-outline-danger">
                Obriši komentar
            </button>
        </form>
    </div>
</div>
